{% extends 'base.html.twig' %}

{% block body %}
    <div class="container container-pad">
        <div class="row">
            <h2>Account</h2>
        </div>
        <div class="row">
            <div class="col"
        </div>
    </div>
{% endblock %}

