{% extends 'base.html.twig' %}

{% block body %}
    <div class="container container-pad">
        <div class="col">
            <div class="row">
                <div class="col">
                    <h5>Movie: </h5><p>{{ review.movie.name }}</p>
                </div>
                <div class="col">
                    <h6>Rating: </h6><p>{{ stars | raw }}</p>
                </div>
            </div>
            <div class="row">
                <h6>Comment: </h6><p>{{ review.comment }}</p>
            </div>
            <div class="row">
                <div class="col">
                    <a href="{{ path('create-report', {'id' : review.id }) }}"><button class="btn btn-danger">Report</button></a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}